/* google homepage stylesheet */

/*centers google logo*/
.center {
   display: block;
   margin-left: auto;
   margin-right: auto; 
}

/*aligns the ul horizontally*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
}


li a{
  display: inline; 
  float: left;
  text-decoration: none;
  
}

/*centers googleSearch+imFeelingLucky buttons*/
.button {
    text-align: center;
}
